USE [master]
GO
/****** Object:  Database [QLVT]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE DATABASE [QLVT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLVT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLVT.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLVT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLVT_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLVT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLVT]
GO
/****** Object:  User [HTKN]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_D505457F69CA4EB099835C44FD7F15B2]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE ROLE [MSmerge_D505457F69CA4EB099835C44FD7F15B2]
GO
/****** Object:  DatabaseRole [MSmerge_21BEC1E649E342E8BAC6F6E10496266B]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE ROLE [MSmerge_21BEC1E649E342E8BAC6F6E10496266B]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_D505457F69CA4EB099835C44FD7F15B2]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_21BEC1E649E342E8BAC6F6E10496266B]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nvarchar](10) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[PHAI] [nvarchar](10) NOT NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nchar](11) NULL,
	[MACN] [nchar](10) NOT NULL,
	[TRANGTHAIXOA] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_DS_NHANVIEN]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[V_DS_NHANVIEN] AS
SELECT MANV, CONCAT(HO, ' ', TEN) as HOTEN
FROM NHANVIEN 
WHERE TRANGTHAIXOA = 0 AND NOT EXISTS(SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(MANV AS VARCHAR))

GO
/****** Object:  Table [dbo].[LOAIHANGHOA]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANGHOA](
	[MALHH] [nchar](10) NOT NULL,
	[TENLHH] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOAIHANGHOA] PRIMARY KEY CLUSTERED 
(
	[MALHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TENLHH] UNIQUE NONCLUSTERED 
(
	[TENLHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_DS_LOAIHH]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_LOAIHH]
AS
SELECT        MALHH, TENLHH
FROM            dbo.LOAIHANGHOA
GO
/****** Object:  View [dbo].[V_DS_NV]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_NV] AS
SELECT MANV, CONCAT(HO, ' ', TEN) as HOTEN
FROM NHANVIEN 
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT  TENCN=PUBS.description, TENSERVER= subscriber_server
   FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CHINHANH] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TenCN] UNIQUE NONCLUSTERED 
(
	[TENCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DONDH]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONDH](
	[MADDH] [nchar](10) NOT NULL,
	[MAHH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CT_DONDH] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[SOHD] [nchar](10) NOT NULL,
	[MAHH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[MAHH] [nchar](10) NOT NULL,
	[SOPN] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CT_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC,
	[SOPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDH]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDH](
	[MADDH] [nchar](10) NOT NULL,
	[MANCC] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DONDH] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MAHH] [nchar](10) NOT NULL,
	[TENHH] [nvarchar](50) NOT NULL,
	[DVT] [nvarchar](50) NOT NULL,
	[SOLUONGTON] [int] NULL,
	[MALHH] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TENHH] UNIQUE NONCLUSTERED 
(
	[TENHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [nchar](10) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[MAKHO] [nchar](10) NOT NULL,
	[MAKH] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nchar](11) NULL,
	[MACN] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [nchar](10) NOT NULL,
	[TENKHO] [nvarchar](50) NOT NULL,
	[MACN] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TENKHO] UNIQUE NONCLUSTERED 
(
	[TENKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [nchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nchar](11) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NHACC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TENNCC] UNIQUE NONCLUSTERED 
(
	[TENNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[SOPN] [nchar](10) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[MAKHO] [nchar](10) NOT NULL,
	[MADDH] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_693577509]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_693577509] ON [dbo].[CHINHANH]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_741577680]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_741577680] ON [dbo].[CT_DONDH]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_773577794]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_773577794] ON [dbo].[CT_HOADON]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_805577908]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_805577908] ON [dbo].[CT_PHIEUNHAP]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_837578022]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_837578022] ON [dbo].[DONDH]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_869578136]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_869578136] ON [dbo].[HANGHOA]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_917578307]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_917578307] ON [dbo].[HOADON]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_949578421]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_949578421] ON [dbo].[KHACHHANG]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_981578535]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_981578535] ON [dbo].[KHO]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_629577281]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_629577281] ON [dbo].[LOAIHANGHOA]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1029578706]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1029578706] ON [dbo].[NHACC]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_581577110]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_581577110] ON [dbo].[NHANVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1077578877]    Script Date: 9/20/2023 12:16:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1077578877] ON [dbo].[PHIEUNHAP]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHINHANH] ADD  CONSTRAINT [MSmerge_df_rowguid_9F64C36189174BBDAE9A8F2343FB1C21]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_DONDH] ADD  CONSTRAINT [MSmerge_df_rowguid_A3D6F5B8E55643BCA358219795C20069]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_HOADON] ADD  CONSTRAINT [MSmerge_df_rowguid_750C498C274740E687500A59FE62CE96]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] ADD  CONSTRAINT [MSmerge_df_rowguid_D5AF99E8BF0D49ECBFCB5D614D3A07F5]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DONDH] ADD  CONSTRAINT [MSmerge_df_rowguid_ED185BB5B5DE424FBC1660CAA7379BDC]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HANGHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_389A65E1FD8946FBA46D95B1EBA9E105]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [MSmerge_df_rowguid_8E7786CA2C414E90B2193E1AAC06C694]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [MSmerge_df_rowguid_701364D99B7042689C977CC9209AD556]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHO] ADD  CONSTRAINT [MSmerge_df_rowguid_E150A376549A43B681830001A5E2D675]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOAIHANGHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_85E9BFEA52AF4165991BA71E57BF9E76]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NHACC] ADD  CONSTRAINT [MSmerge_df_rowguid_21495413C92D4BECB174FC90EFA69C19]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_33B67B68FE054BBEB2A23EE38A69390F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [MSmerge_df_rowguid_D58EE5C13DBF4472A2B97E6566AC0BC0]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_DONDH]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONDH_DONDH] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DONDH] ([MADDH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_DONDH] CHECK CONSTRAINT [FK_CT_DONDH_DONDH]
GO
ALTER TABLE [dbo].[CT_DONDH]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONDH_HANGHOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_DONDH] CHECK CONSTRAINT [FK_CT_DONDH_HANGHOA]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HANGHOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HANGHOA]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_HANGHOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_HANGHOA]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP] FOREIGN KEY([SOPN])
REFERENCES [dbo].[PHIEUNHAP] ([SOPN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[DONDH]  WITH CHECK ADD  CONSTRAINT [FK_DONDH_NHACC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DONDH] CHECK CONSTRAINT [FK_DONDH_NHACC]
GO
ALTER TABLE [dbo].[DONDH]  WITH CHECK ADD  CONSTRAINT [FK_DONDH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONDH] CHECK CONSTRAINT [FK_DONDH_NHANVIEN]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_LOAIHANGHOA] FOREIGN KEY([MALHH])
REFERENCES [dbo].[LOAIHANGHOA] ([MALHH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_LOAIHANGHOA]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHO]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_CHINHANH]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_KHO_CHINHANH]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_DONDH] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DONDH] ([MADDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_DONDH]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_KHO]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_sdt_kh] CHECK  ((len([sdt])>=(9) AND len([sdt])<=(11)))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_sdt_kh]
GO
ALTER TABLE [dbo].[NHACC]  WITH CHECK ADD  CONSTRAINT [CK_sdt_ncc] CHECK  ((len([sdt])>=(9) AND len([sdt])<=(11)))
GO
ALTER TABLE [dbo].[NHACC] CHECK CONSTRAINT [CK_sdt_ncc]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_PHAI] CHECK  (([PHAI]=N'NAM' OR [PHAI]=N'NỮ'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_PHAI]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_sdt_nv] CHECK  ((len([sdt])>=(9) AND len([sdt])<=(11)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_sdt_nv]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_TrangThaiXoa] CHECK  (([TRANGTHAIXOA]=(0) OR [TRANGTHAIXOA]=(1)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_TrangThaiXoa]
GO
/****** Object:  StoredProcedure [dbo].[sp_addCT_PN]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_addCT_PN] (@MADDH NCHAR(10), @MAHH NCHAR(10), @SOLUONG INT)
AS
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

BEGIN
SELECT DBO.PHIEUNHAP.SOPN, DBO.PHIEUNHAP.MADDH, DBO.CT_PHIEUNHAP.MAHH, DBO.CT_PHIEUNHAP.SOLUONG INTO #T1 FROM PHIEUNHAP INNER JOIN CT_PHIEUNHAP ON PHIEUNHAP.SOPN = CT_PHIEUNHAP.SOPN WHERE MADDH = @MADDH
	IF EXISTS (SELECT MAHH FROM #T1 WHERE #T1.MAHH = @MAHH ) 
		BEGIN
			IF((SELECT SOLUONG FROM dbo.CT_DONDH WHERE MAHH = @MAHH AND MADDH = @MADDH) >=
			((SELECT SUM (SOLUONG) FROM #T1 WHERE #T1.MAHH = @MAHH) + @SOLUONG))
			BEGIN
				UPDATE dbo.HANGHOA SET SOLUONGTON = SOLUONGTON + @SOLUONG WHERE MAHH = @MAHH
			END
			ELSE
				RAISERROR(N'Số lượng vật tư nhập kho lớn hơn đơn đặt hàng', 18, 1)
		END		
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BangKeChiTietSoLuongTriGiaTheoLoai]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BangKeChiTietSoLuongTriGiaTheoLoai] @NGAYBD DATE, @NGAYKT DATE,
@NHOM NVARCHAR(20), @LOAI CHAR
AS
BEGIN
	IF(@NHOM='CHINHANH')
	BEGIN
		IF(@LOAI='N')
		BEGIN
			SELECT  MONTH(PN.NGAYLAP) AS THANG , YEAR(PN.NGAYLAP) AS NAM, HH.TENHH, SUM(SOLUONG) AS TONGSOLUONG, SUM(TONGTIENCT) AS TONGTRIGIA
			-- Chọn các thuộc tính cần thiết của Vật Tư
			FROM (SELECT MAHH, TENHH, DVT FROM HANGHOA) AS HH,
			-- Chọn các thuộc tính cần thiết của Phiếu nhập theo điều kiện
			(SELECT SOPN, NGAYLAP FROM PHIEUNHAP WHERE NGAYLAP >= @NGAYBD AND NGAYLAP <= @NGAYKT) AS PN,
			-- Chọn các thuộc tính cần thiết của Chi tiết phiếu nhập
			(SELECT SOPN, MAHH, DONGIA*SOLUONG AS TONGTIENCT, SOLUONG FROM CT_PHIEUNHAP) AS CT
			-- Điều kiện Join 3 bảng lại với nhau
			WHERE HH.MAHH = CT.MAHH AND CT.SOPN = PN.SOPN
			-- Gom nhóm theo tên vật tư, tháng, năm
			GROUP BY HH.TENHH, MONTH(PN.NGAYLAP), YEAR(PN.NGAYLAP)
		END
		ELSE -- @LOAI='X'
		BEGIN
			SELECT  MONTH(PX.NGAYLAP) AS THANG , YEAR(PX.NGAYLAP) AS NAM, HH.TENHH, SUM(SOLUONG) AS TONGSOLUONG, SUM(TONGTIENCT) AS TONGTRIGIA
			-- Chọn các thuộc tính cần thiết của Vật Tư
			FROM (SELECT MAHH, TENHH, DVT
			FROM HANGHOA) AS HH,
			-- Chọn các thuộc tính cần thiết của Phiếu Xuất theo điều kiện
			(SELECT SOHD, NGAYLAP
			FROM HOADON
			WHERE NGAYLAP >= @NGAYBD AND NGAYLAP <= @NGAYKT) AS PX,
			-- Chọn các thuộc tính cần thiết của Chi tiết phiếu Xuất
			(SELECT SOHD, MAHH, DONGIA*SOLUONG AS TONGTIENCT, SOLUONG
			FROM CT_HOADON) AS CT
			-- Điều kiện Join 3 bảng lại với nhau
			WHERE HH.MAHH = CT.MAHH AND CT.SOHD = PX.SOHD
			-- Gom nhóm theo tên vật tư, tháng, năm
			GROUP BY HH.TENHH, MONTH(PX.NGAYLAP), YEAR(PX.NGAYLAP)
		END
	END
	ELSE --CONGTY
	BEGIN
		IF(@LOAI='N')
		BEGIN
			SELECT  MONTH(PN.NGAYLAP) AS THANG , YEAR(PN.NGAYLAP) AS NAM, HH.TENHH, SUM(SOLUONG) AS TONGSOLUONG, SUM(TONGTIENCT) AS TONGTRIGIA
			-- Chọn các thuộc tính cần thiết của Vật Tư
			FROM (SELECT MAHH, TENHH, DVT
			FROM HANGHOA) AS HH,
			-- Chọn các thuộc tính cần thiết của Phiếu nhập theo điều kiện
			(SELECT SOPN, NGAYLAP
			FROM LINK0.QLVT.DBO.PhieuNhap
			WHERE NGAYLAP >= @NGAYBD AND NGAYLAP <= @NGAYKT) AS PN,
			-- Chọn các thuộc tính cần thiết của Chi tiết phiếu nhập
			(SELECT SOPN, MAHH, DONGIA*SOLUONG AS TONGTIENCT, SOLUONG
			FROM LINK0.QLVT.DBO.CT_PHIEUNHAP) AS CT
			-- Điều kiện Join 3 bảng lại với nhau
			WHERE HH.MAHH = CT.MAHH AND CT.SOPN = PN.SOPN
			-- Gom nhóm theo tên vật tư, tháng, năm
			GROUP BY HH.TENHH, MONTH(PN.NGAYLAP), YEAR(PN.NGAYLAP)
		END
		ELSE --@LOAI='X'
		BEGIN
			SELECT  MONTH(PX.NGAYLAP) AS THANG , YEAR(PX.NGAYLAP) AS NAM, HH.TENHH, SUM(SOLUONG) AS TONGSOLUONG, SUM(TONGTIENCT) AS TONGTRIGIA
			-- Chọn các thuộc tính cần thiết của Vật Tư
			FROM (SELECT MAHH, TENHH, DVT
			FROM HANGHOA) AS HH,
			-- Chọn các thuộc tính cần thiết của Phiếu nhập theo điều kiện
			(SELECT SOHD, NGAYLAP
			FROM LINK0.QLVT.DBO.HOADON
			WHERE NGAYLAP >= @NGAYBD AND NGAYLAP <= @NGAYKT) AS PX,
			-- Chọn các thuộc tính cần thiết của Chi tiết phiếu nhập
			(SELECT SOHD, MAHH, DONGIA*SOLUONG AS TONGTIENCT, SOLUONG
			FROM LINK0.QLVT.DBO.CT_HOADON) AS CT
			-- Điều kiện Join 3 bảng lại với nhau
			WHERE HH.MAHH = CT.MAHH AND CT.SOHD = PX.SOHD
			-- Gom nhóm theo tên vật tư, tháng, năm
			GROUP BY HH.TENHH, MONTH(PX.NGAYLAP), YEAR(PX.NGAYLAP)
		END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKKHEXISTS]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKKHEXISTS]
@MAKH NCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.KhachHang WHERE DBO.KhachHang.MAKH = @MAKH) 
	BEGIN
		RETURN 1;
	END

	IF EXISTS (SELECT 1 FROM LINK1.QLVT.DBO.KHACHHANG KH WHERE KH.MAKH = @MAKH) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMADDHEXISTS]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKMADDHEXISTS]
@MADDH NVARCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.DONDH WHERE DBO.DONDH.MADDH = @MADDH) 
	BEGIN
		RETURN 1;
	END

	IF EXISTS (SELECT 1 FROM LINK1.QLVT.DBO.DONDH WHERE DONDH.MADDH = @MADDH) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMAHHEXISTS]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKMAHHEXISTS]
@MAHH NVARCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.HANGHOA WHERE DBO.HANGHOA.MAHH = @MAHH) 
	BEGIN
		RETURN 1;
	END


	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMAKHOEXISTS]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKMAKHOEXISTS]
@MAKHO NVARCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.KHO WHERE DBO.KHO.MAKHO = @MAKHO) 
	BEGIN
		RETURN 1;
	END

	IF EXISTS (SELECT 1 FROM LINK1.QLVT.DBO.KHO WHERE KHO.MAKHO= @MAKHO) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMALHHEXISTS]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKMALHHEXISTS]
@MALHH NVARCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.LOAIHANGHOA WHERE DBO.LOAIHANGHOA.MALHH = @MALHH) 
	BEGIN
		RETURN 1;
	END


	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMANCCEXISTS]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKMANCCEXISTS]
@MANCC NVARCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.NHACC WHERE DBO.NHACC.MANCC = @MANCC) 
	BEGIN
		RETURN 1;
	END



	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_checkNgayPN]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_checkNgayPN]
@MADDH NVARCHAR(10), @NGAYPN DATE
AS
BEGIN
	
	IF ((SELECT NGAYLAP FROM DONDH WHERE MADDH = @MADDH) < (SELECT FORMAT (@NGAYPN, 'yyyy-MM-dd') as date)) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKNVEXISTS]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKNVEXISTS]
@MANV NVARCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.NHANVIEN WHERE DBO.NHANVIEN.MANV = @MANV) 
	BEGIN
		RETURN 1;
	END

	IF EXISTS (SELECT 1 FROM LINK1.QLVT.DBO.NHANVIEN NV WHERE NV.MANV = @MANV) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKSOHDEXISTS]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKSOHDEXISTS]
@SOHD NVARCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.HOADON WHERE DBO.HOADON.SOHD = @SOHD) 
	BEGIN
		RETURN 1;
	END

	IF EXISTS (SELECT 1 FROM LINK1.QLVT.DBO.HOADON WHERE HOADON.SOHD = @SOHD) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKSOPNEXISTS]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKSOPNEXISTS]
@SOPN NVARCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.PHIEUNHAP WHERE DBO.PHIEUNHAP.SOPN = @SOPN) 
	BEGIN
		RETURN 1;
	END

	IF EXISTS (SELECT 1 FROM LINK1.QLVT.DBO.PHIEUNHAP WHERE PHIEUNHAP.SOPN = @SOPN) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHUYENCHINHANH_NV]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHUYENCHINHANH_NV] @HO NVARCHAR(10),@TEN NVARCHAR(50),@NGAYSINH DATE, @PHAI NVARCHAR(10), @MACN nchar(10)
AS
DECLARE @LGNAME VARCHAR(50)
DECLARE @USERNAME VARCHAR(50)
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN DISTRIBUTED TRANSACTION
	BEGIN TRY
	
		DECLARE @TAMNV1 NVARCHAR(10)
		SET @TAMNV1 = (SELECT MANV FROM LINK1.QLVT.dbo.NhanVien WHERE HO = @HO AND TEN = @TEN AND NGAYSINH = @NGAYSINH 
		AND PHAI = @PHAI AND TRANGTHAIXOA = 1)
		DECLARE @TAMNV2 NVARCHAR(10)
		SET @TAMNV2 = (SELECT MANV FROM dbo.NhanVien WHERE HO = @HO AND TEN = @TEN AND NGAYSINH = @NGAYSINH 
		AND PHAI = @PHAI AND TRANGTHAIXOA = 0)
		--NEU SITE KIA DA CO TK
		IF EXISTS(SELECT * FROM LINK1.QLVT.dbo.NhanVien WHERE MANV = @TAMNV1)
		BEGIN
			UPDATE LINK1.QLVT.dbo.NhanVien
			SET TrangThaiXoa = 0
			WHERE MANV = @TAMNV1;
		END
		--SITE KIA CHUA CO TK
		ELSE 
		BEGIN
		DECLARE @MAXNV NCHAR(10)
			SET @MAXNV = (SELECT MAX(MANV)+1 FROM LINK0.QLVT.DBO.NHANVIEN)
			INSERT INTO LINK1.QLVT.dbo.NhanVien (MANV, HO, TEN, PHAI,NGAYSINH, DIACHI, SDT, MACN, TRANGTHAIXOA)
			SELECT @MAXNV, HO, TEN, PHAI,NGAYSINH , DIACHI, SDT, @MACN, TRANGTHAIXOA
			FROM dbo.NhanVien
			WHERE MANV = @TAMNV2;
		END
		--DOI TRANG THAI XOA NEU CO HOA DON
		IF EXISTS(SELECT 1 FROM NhanVien
				WHERE NhanVien.MANV = @TAMNV2 AND				
				(EXISTS(SELECT 1 FROM DONDH WHERE DONDH.MANV = NhanVien.MANV) 
					OR EXISTS(SELECT 1 FROM PHIEUNHAP WHERE PHIEUNHAP.MANV = NhanVien.MANV)
					OR EXISTS(SELECT 1 FROM HOADON WHERE HOADON.MANV = NhanVien.MANV)))
		BEGIN 
			UPDATE dbo.NhanVien
			SET TrangThaiXoa = 1
			WHERE MANV = @TAMNV2;
		END
		--XOA TK NEU KO CO HOA DON
		ELSE
		BEGIN
			DELETE FROM NhanVien Where NhanVien.MANV = @TAMNV2
		END
		COMMIT TRAN;
		IF EXISTS(SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@TAMNV2 AS NVARCHAR))
		BEGIN
		SET @LGNAME = CAST((SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@TAMNV2 AS NVARCHAR)) AS VARCHAR(50))
		SET @USERNAME = CAST(@TAMNV2 AS VARCHAR(50))
		EXEC SP_DROPUSER @USERNAME;
		EXEC SP_DROPLOGIN  @LGNAME;
		END
	END TRY
BEGIN CATCH
	IF (@@TRANCOUNT > 0)
	BEGIN
		ROLLBACK TRAN;
	END;
	THROW;
END CATCH


GO
/****** Object:  StoredProcedure [dbo].[SP_getNV]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_getNV]
@MANV NVARCHAR(10), @NHOM NVARCHAR(10)
AS
BEGIN
	
	IF (@NHOM = 'CHINHANH')
	BEGIN
		SELECT MANV, CONCAT(HO, ' ', TEN) AS HOTEN, PHAI, NGAYSINH,
		 ISNULL(DIACHI,'') AS DIACHI, ISNULL(SDT,'') AS SDT
		FROM DBO.NHANVIEN 
		WHERE MANV = @MANV
	END

	ELSE
	BEGIN
		SELECT MANV, CONCAT(HO, ' ', TEN) AS HOTEN, PHAI, NGAYSINH,
		 ISNULL(DIACHI,'') AS DIACHI, ISNULL(SDT,'') AS SDT
		FROM LINK0.QLVT.DBO.NHANVIEN 
		WHERE MANV = @MANV
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HoatDongCuaNhanVien]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_HoatDongCuaNhanVien] @MANV NVARCHAR(10), @FROM DATE, @TO DATE, @MACN NVARCHAR(10)
AS
BEGIN
IF(@MACN = 'CN1')
	BEGIN
		SELECT FORMAT(NGAYLAP,'dd-MM-yyyy') NGAYTHANG, P.SOPN, HOTENKH=' ' ,C.TENHH, P.TENKHO, C.SOLUONG, C.DONGIA 
		FROM (SELECT NGAYLAP, SOPN, 
			TENKHO = (SELECT TENKHO FROM Kho WHERE PN.MAKHO = KHO.MAKHO)
			FROM PhieuNhap AS PN
			WHERE MANV = @MANV AND NGAYLAP BETWEEN @FROM AND @TO) AS P,
			(SELECT SOPN, TENHH = (SELECT TENHH FROM HANGHOA WHERE MAHH=CT.MAHH), SOLUONG, DONGIA
			FROM CT_PHIEUNHAP AS CT ) AS C
			WHERE P.SOPN = C.SOPN
	END
ELSE
	BEGIN
		SELECT FORMAT(NGAYLAP,'dd-MM-yyyy') NGAYTHANG, P.SOPN, HOTENKH=' ' ,C.TENHH, P.TENKHO, C.SOLUONG, C.DONGIA 
		FROM (SELECT NGAYLAP, SOPN, 
			TENKHO = (SELECT TENKHO FROM LINK1.QLVT.DBO.Kho WHERE PN.MAKHO = KHO.MAKHO)
			FROM LINK1.QLVT.DBO.PhieuNhap AS PN
			WHERE MANV = @MANV AND NGAYLAP BETWEEN @FROM AND @TO) AS P,
			(SELECT SOPN, TENHH = (SELECT TENHH FROM HANGHOA WHERE MAHH=CT.MAHH), SOLUONG, DONGIA
			FROM LINK1.QLVT.DBO.CT_PHIEUNHAP AS CT ) AS C
			WHERE P.SOPN = C.SOPN
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HoatDongCuaNhanVienX]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_HoatDongCuaNhanVienX] @MANV NVARCHAR(10), @FROM DATE, @TO DATE, @MACN NVARCHAR(10)
AS
BEGIN

IF(@MACN = 'CN1')
	BEGIN
		SELECT FORMAT(NGAYLAP,'dd-MM-yyyy') NGAYTHANG, P.SOHD, p.MAKH,C.TENHH,
		P.TENKHO, C.SOLUONG, C.DONGIA 
		FROM (SELECT NGAYLAP, SOHD, HOADON.MAKH,
			TENKHO = (SELECT TENKHO FROM Kho WHERE HOADON.MAKHO = KHO.MAKHO)
			FROM HOADON AS HOADON
			WHERE MANV = @MANV AND NGAYLAP BETWEEN @FROM AND @TO) AS P,
			(SELECT SOHD, TENHH = (SELECT TENHH FROM HANGHOA WHERE MAHH=CT.MAHH), SOLUONG, DONGIA
			FROM CT_HOADON AS CT ) AS C
			WHERE P.SOHD = C.SOHD
	END
ELSE
	BEGIN
		SELECT FORMAT(NGAYLAP,'dd-MM-yyyy') NGAYTHANG, P.SOHD, p.MAKH,C.TENHH,
		P.TENKHO, C.SOLUONG, C.DONGIA 
		FROM (SELECT NGAYLAP, SOHD, HOADON.MAKH,
			TENKHO = (SELECT TENKHO FROM LINK1.QLVT.DBO.Kho WHERE HOADON.MAKHO = KHO.MAKHO)
			FROM LINK1.QLVT.DBO.HOADON AS HOADON
			WHERE MANV = @MANV AND NGAYLAP BETWEEN @FROM AND @TO) AS P,
			(SELECT SOHD, TENHH = (SELECT TENHH FROM HANGHOA WHERE MAHH=CT.MAHH), SOLUONG, DONGIA
			FROM LINK1.QLVT.DBO.CT_HOADON AS CT ) AS C
			WHERE P.SOHD = C.SOHD
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kiem_Tra_Trang_Thai_Vat_Tu]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Kiem_Tra_Trang_Thai_Vat_Tu] @MA NCHAR(10), @MAHH NCHAR(10)
AS 
BEGIN
	-- mahh tren 1 ct_phieu la duy nhat
	IF exists (SELECT MAHH FROM dbo.CT_PHIEUNHAP WHERE CT_PHIEUNHAP.MAHH = @MAHH AND CT_PHIEUNHAP.SOPN = @MA  )
	OR exists (SELECT MAHH FROM dbo.CT_DONDH WHERE CT_DONDH.MAHH = @MAHH AND CT_DONDH.MADDH = @MA)
	OR exists (SELECT MAHH FROM dbo.CT_HOADON WHERE CT_HOADON.MAHH = @MAHH AND CT_HOADON.SOHD = @MA)
	BEGIN
		RETURN 1
	END
	-- mahh phai co trong table hang hoa
	ELSE IF NOT EXISTS ( SELECT MAHH FROM DBO.HANGHOA WHERE HANGHOA.MAHH = @MAHH)
	BEGIN
		RETURN 2
	END

	RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_NV_Tu_Login]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Thong_Tin_NV_Tu_Login] @TENLOGIN NVARCHAR(20)
AS
BEGIN
	DECLARE @UID INT
	DECLARE @MANV INT

	SELECT @UID = UID, @MANV = NAME  FROM SYS.sysusers
		WHERE SID = SUSER_SID(@TENLOGIN)

	

	SELECT  
		 MANV = @MANV, HOVATEN = (SELECT (HO + ' ' + TEN) FROM NHANVIEN WHERE @MANV = MANV),
		NHOM = NAME FROM SYS.SYSUSERS 
			WHERE UID = (SELECT GROUPUID FROM SYS.SYSMEMBERS WHERE MEMBERUID = @UID)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_rep_DSDDHChuaCoPhieuNhap]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_rep_DSDDHChuaCoPhieuNhap] @MACN NVARCHAR(10)
AS
BEGIN
IF(@MACN = 'CN1')
BEGIN
	SELECT rs1.MADDH AS 'Mã số DDH', rs1.NGAYLAP AS 'Ngày đặt', rs1.MANCC AS 'Nhà cung cấp', rs1.NVDATHANG AS 'NV đặt hàng', vt.TENHH AS 'Tên vật tư', ctddh.SOLUONG AS 'Số lượng', ctddh.DONGIA AS 'Đơn giá'
	FROM
	(
		SELECT dh.MADDH, dh.NGAYLAP, dh.MANCC, nv.HO + ' ' + nv.TEN AS 'NVDATHANG'--, ctddh.MAVT, ctddh.SOLUONG, ctddh.DONGIA
		FROM 
		(
			SELECT MADDH, NGAYLAP, MANCC, MANV
			FROM dbo.DONDH
			-- lọc ra mã số  ddh chưa có trong phiếu nhập
			WHERE MADDH NOT IN (SELECT MADDH FROM dbo.PhieuNhap)
		) dh
		LEFT JOIN dbo.NHANVIEN nv ON nv.MANV = dh.MANV
	) rs1
	LEFT JOIN dbo.CT_DONDH ctddh ON ctddh.MADDH = rs1.MADDH
	INNER JOIN dbo.HANGHOA vt ON vt.MAHH = ctddh.MAHH
END
ELSE
BEGIN
	SELECT rs1.MADDH AS 'Mã số DDH', rs1.NGAYLAP AS 'Ngày đặt', rs1.MANCC AS 'Nhà cung cấp', rs1.NVDATHANG AS 'NV đặt hàng', vt.TENHH AS 'Tên vật tư', ctddh.SOLUONG AS 'Số lượng', ctddh.DONGIA AS 'Đơn giá'
	FROM
	(
		SELECT dh.MADDH, dh.NGAYLAP, dh.MANCC, nv.HO + ' ' + nv.TEN AS 'NVDATHANG'--, ctddh.MAVT, ctddh.SOLUONG, ctddh.DONGIA
		FROM 
		(
			SELECT MADDH, NGAYLAP, MANCC, MANV
			FROM LINK1.QLVT.dbo.DONDH
			-- lọc ra mã số  ddh chưa có trong phiếu nhập
			WHERE MADDH NOT IN (SELECT MADDH FROM LINK1.QLVT.dbo.PhieuNhap)
		) dh
		LEFT JOIN LINK1.QLVT.dbo.NHANVIEN nv ON nv.MANV = dh.MANV
	) rs1
	LEFT JOIN LINK1.QLVT.dbo.CT_DONDH ctddh ON ctddh.MADDH = rs1.MADDH
	INNER JOIN dbo.HANGHOA vt ON vt.MAHH = ctddh.MAHH
END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_rp_DSVT]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_rp_DSVT]
AS
BEGIN
SELECT * FROM dbo.HANGHOA ORDER BY TENHH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_rp_NV_theo_chi_nhanh]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_rp_NV_theo_chi_nhanh] @MACN NCHAR(10)
AS
BEGIN
	IF(@MACN = 'CN1')
		BEGIN
		SELECT MANV, HO + '  ' + TEN AS HOTEN, DIACHI, SDT, NGAYSINH, @MACN AS MACN, Phai
		FROM dbo.NhanVien WHERE TrangThaiXoa = 0 AND MACN = @MACN ORDER BY TEN, HO
		END
	ELSE
		BEGIN
		SELECT MANV, HO + '  ' + TEN AS HOTEN, DIACHI, SDT, NGAYSINH, @MACN AS MACN, Phai
		FROM LINK1.QLVT.dbo.NhanVien WHERE TrangThaiXoa = 0 AND MACN = @MACN ORDER BY TEN, HO
		END


END

GO
/****** Object:  StoredProcedure [dbo].[sp_subCT_HD]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_subCT_HD] (@MAHH NCHAR(10), @SOLUONG INT)
AS
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

BEGIN
	IF((SELECT SOLUONGTON FROM dbo.HANGHOA WHERE MAHH = @MAHH) >= @SOLUONG)
		BEGIN
			UPDATE dbo.HANGHOA SET SOLUONGTON = SOLUONGTON - @SOLUONG WHERE MAHH = @MAHH
		END
	ELSE
		BEGIN
			RAISERROR(N'Số lượng vật tư trong kho không đủ', 18, 1)
		END	
			
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoLogin]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TaoLogin]
    @LGNAME VARCHAR(50),  @PASS VARCHAR(50),
    @USERNAME VARCHAR(50),  @ROLE VARCHAR(50)     
AS
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS, 'QLVT'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
  BEGIN
     RAISERROR ('Tài khoản này đã có người sử dụng!', 16,1)
	 RETURN
  END 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RAISERROR ('Nhân viên này đã có login name!', 16,2)
       RETURN
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
  IF @ROLE = 'ADMIN'
  BEGIN
      EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
      EXEC sp_addsrvrolemember @LGNAME, 'DBCREATOR'
      EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
  END
  IF @ROLE = 'CHINHANH' OR @ROLE = 'QLVT'
  BEGIN
      EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
  END

GO
/****** Object:  StoredProcedure [dbo].[sp_TongHopNhapXuat]    Script Date: 9/20/2023 12:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TongHopNhapXuat] @from DATE,@to DATE,@nhom NVARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON
	IF (1=0) SET FMTONLY OFF
	--SELECT 0 AS 'NGÀY', 0.0 AS 'NHẬP', 0.0 AS 'TỶ LỆ NHẬP', 0.0 AS 'XUẤT', 0.0 AS 'TỶ LỆ XUẤT'
	create TABLE dbo.tonghopxuat (NGAY DATE, TONGTIEN FLOAT)
	create TABLE dbo.tonghopnhap (NGAY DATE, TONGTIEN FLOAT)
	WAITFOR DELAY '00:00:03'
	IF(@nhom = 'CHINHANH')
	BEGIN
		INSERT INTO tonghopxuat (NGAY, TONGTIEN)
			SELECT pxfilter.NGAYLAP, SUM(ctpx.SOLUONG * ctpx.DONGIA) AS 'TONGTIEN'
			FROM (SELECT SOHD, NGAYLAP FROM dbo.HOADON WHERE NGAYLAP BETWEEN @from AND @to) pxfilter
			INNER JOIN dbo.CT_HOADON ctpx ON ctpx.SOHD = pxfilter.SOHD
			GROUP BY pxfilter.NGAYLAP
		INSERT INTO tonghopnhap (NGAY, TONGTIEN)
			SELECT pnfilter.NGAYLAP, SUM(ctpn.SOLUONG * ctpn.DONGIA) AS 'TONGTIEN'
			FROM (SELECT SOPN, NGAYLAP FROM dbo.PhieuNhap WHERE NGAYLAP BETWEEN @from AND @to) pnfilter
			INNER JOIN dbo.CT_PHIEUNHAP ctpn ON ctpn.SOPN = pnfilter.SOPN
			GROUP BY pnfilter.NGAYLAP
	END
	ELSE
	BEGIN
		INSERT INTO dbo.tonghopxuat (NGAY, TONGTIEN)
			SELECT pxfilter.NGAYLAP, SUM(ctpx.SOLUONG * ctpx.DONGIA) AS 'TONGTIEN'
			FROM (SELECT SOHD, NGAYLAP FROM LINK0.QLVT.dbo.HOADON WHERE NGAYLAP BETWEEN @from AND @to) pxfilter
			INNER JOIN LINK0.QLVT.dbo.CT_HOADON ctpx ON ctpx.SOHD = pxfilter.SOHD
			GROUP BY pxfilter.NGAYLAP
		INSERT INTO dbo.tonghopnhap (NGAY, TONGTIEN)
			SELECT pnfilter.NGAYLAP, SUM(ctpn.SOLUONG * ctpn.DONGIA) AS 'TONGTIEN'
			FROM (SELECT SOPN, NGAYLAP FROM LINK0.QLVT.dbo.PHIEUNHAP WHERE NGAYLAP BETWEEN @from AND @to) pnfilter
			INNER JOIN LINK0.QLVT.dbo.CT_PHIEUNHAP ctpn ON ctpn.SOPN = pnfilter.SOPN
			GROUP BY pnfilter.NGAYLAP
	END
		
	SELECT result.NGAY AS 'NGÀY',
			result.TONGTIENNHAP AS 'NHẬP',
			result.TONGTIENNHAP/(result.TONGTIENNHAP + result.TONGTIENXUAT) AS 'TỶ LỆ NHẬP',
			result.TONGTIENXUAT AS 'XUẤT',
			(result.TONGTIENXUAT/(result.TONGTIENNHAP + result.TONGTIENXUAT)) AS 'TỶ LỆ XUẤT'
	FROM
	(
		-- FULL OUTER JOIN 2 BẢNG, CỘT NÀO NULL LÀ NGÀY ĐÓ KHÔNG CÓ NHẬP HOẶC KHÔNG CÓ XUẤT => THAY CỘT ĐÓ = 0
		SELECT ISNULL(tonghopnhap.NGAY, tonghopxuat.NGAY) AS 'NGAY',
				ISNULL(tonghopnhap.TONGTIEN, 0) AS 'TONGTIENNHAP',
				ISNULL(tonghopxuat.TONGTIEN, 0) AS 'TONGTIENXUAT'
		FROM tonghopnhap tonghopnhap
		FULL OUTER JOIN
		(
			SELECT *
			FROM tonghopxuat
		) tonghopxuat
		ON (tonghopxuat.NGAY = tonghopnhap.NGAY)
	) result
	ORDER BY result.NGAY

	DROP TABLE dbo.tonghopnhap
	DROP TABLE dbo.tonghopxuat
END
GO
USE [master]
GO
